main {
  width: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  background-color: #222;

  .container {
    width: 70%;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    background-color: #171717;
    border-radius: 20px;

    .pokemon-list {
      width: 71%;
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      border-radius: 20px;
    }
  }
}
