<main class="main">
  <div class="container">
    <section id="title-page">
      <div class="title-container">
        <h1>{{ title }}</h1>
      </div>
    </section>
    <section id="pokedex-filter">
      <div class="container-filter">
        <div class="content-filter">
          <div class="text-search">
            <label>{{ label }}</label>
            <div class="input-box">
              <input type="text">
            </div>
            <button type="submit"><i class="fa-solid fa-search"></i></button>
          </div>
          <div class="subtitle">
            <p>{{ subtitle }}</p>
          </div>
        </div>
        <div class="card-filter">
          <div class="card">
            <h2>{{ textCard }}</h2>
          </div>
        </div>
      </div>
    </section>
    <section id="results">
      <div class="container-results">
        <a class="button-result">
          <i class="fa-solid fa-rotate"></i>
          Surpreenda-me!
        </a>
        <div class="organize">
          <h3>Organizar por</h3>
          <label>
            Menor número primeiro
            <i class="fa-solid fa-arrow-down"></i>
          </label>
        </div>
      </div>
    </section>
    <pokemon-list></pokemon-list>
    <div class="loadSection">
      <button class="loadMore" (click)="loadMore()">
        Carregar Mais!
      </button>
    </div>
  </div>
</main>
