<mat-toolbar class="toolbar">
  <div class="content-wrapper">
    <ul>
      <li class="logo">
        <a routerLink="/">
          <img src="assets/logo.png" alt="Pokémon">
        </a>
      </li>
      <li class="home">
        <a routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
          <i class="fa-solid fa-house"></i>
          <span class="title title_home">
            Página Inicial
          </span>
        </a>
      </li>
      <li class="explore">
        <a routerLink="/explore" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
          <i class="fa-solid fa-magnifying-glass"></i>
          <span class="title title_home">
            Pokédex
          </span>
        </a>
      </li>
      <li class="watch">
        <a routerLink="/watch" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
          <i class="fa-solid fa-mobile-screen-button"></i>
          <span class="title title_home">
            Aplicativos Móveis
          </span>
        </a>
      </li>
      <li class="play">
        <a routerLink="/play" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
          <i class="fa-solid fa-tv"></i>
          <span class="title title_home">
            TV Pokémon
          </span>
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>
