@import '../../../config-scss/rem-calc.scss';

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  min-height: rem-calc(89);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #171717;
  border-bottom: 2px solid #222;
  z-index: 999;

  .content-wrapper {
    max-width: rem-calc(895);

    ul {
      width: 100%;

      li {
        position: relative;
        width: 20%;
        height: rem-calc(89);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        a {
          width: 100%;
          height: rem-calc(89);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: #898989;
          background-color: #171717;

          .fa-solid {
            font-size: rem-calc(24);
            margin: rem-calc(15) 0 rem-calc(7);
          }

          .title {
            font-size: 80%;
            font-weight: 200;
          }
        }
      }

      li.logo a img {
        max-width: 70%;
      }

      li a.active-link {
        color: #fff;
        transition: background-color .3s;
      }


      li.logo::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: rem-calc(-6);
        width: 100%;
        height: rem-calc(6);
        background-color: #4dad5b;
        border-bottom-left-radius: rem-calc(8);
        z-index: 1;
      }

      li.home::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: rem-calc(-6);
        width: 100%;
        height: rem-calc(6);
        background-color: #919191;
        z-index: 1;
      }

      li.home a.active-link {
        background-color: #919191;
      }

      li.explore::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: rem-calc(-6);
        width: 100%;
        height: rem-calc(6);
        background-color: #e3350d;
        z-index: 1;
      }

      li.explore a.active-link {
        background-color: #e3350c;
      }

      li.watch::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: rem-calc(-6);
        width: 100%;
        height: rem-calc(6);
        background-color: #ee6b2f;
        z-index: 1;
      }

      li.watch a.active-link {
        background-color: #ee6b2f;
      }

      li.play::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: rem-calc(-6);
        width: 100%;
        height: rem-calc(6);
        background-color: #e6bc2f;
        border-bottom-right-radius: 8px;
        z-index: 1;
      }

      li.play a.active-link {
        background-color: #e6bc2f;
      }
    }
  }
}
