<mat-toolbar class="toolbar">
  <div class="content-wrapper">
    <ul>
      <li class="logo">
        <a routerLink="#">
          <span class="fill"></span>
          <span class="icon icon_home"></span>
          <span class="title title_home">
            Página Inicial
          </span>
        </a>
      </li>
      <li class="home">
        <a routerLink="#">
          <span class="fill"></span>
          <span class="icon icon_home"></span>
          <span class="title title_home">
            Página Inicial
          </span>
        </a>
      </li>
      <li class="explore">
        <a routerLink="#">
          <span class="fill"></span>
          <span class="icon icon_home"></span>
          <span class="title title_home">
            Pokédex
          </span>
        </a>
      </li>
      <li class="watch">
        <a routerLink="#">
          <span class="fill"></span>
          <span class="icon icon_home"></span>
          <span class="title title_home">
            Aplicativos Móveis
          </span>
        </a>
      </li>
      <li class="play">
        <a routerLink="#">
          <span class="fill"></span>
          <span class="icon icon_home"></span>
          <span class="title title_home">
            TV Pokémon
          </span>
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>

<main>
  <pokemon-list></pokemon-list>
</main>
