@import './config-scss/rem-calc.scss';
@import './config-scss/reset.scss';
@import './config-scss/variable.scss';

.main {
  min-height: 100%;
  margin-top: rem-calc(89);
  display: flex;
  justify-content: center;
  background-image: url(./assets/bg.jpg);

  .container {
    width: 67%;
    min-height: 100%;
    background-color: var(--primary);
  }
}
