@use './config-scss/variable.scss';
@use './config-scss/rem-calc.scss';
@use './config-scss/reset.scss';

//Font
@import url('https://font.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

html {
  font-family: 'poppins', sans-serif;
  background-color: var(--primary);
}

main {
  max-width: rem-calc(600);
  margin: 0 auto;
  box-sizing: border-box;
}
